.star-ratings-wrapper {
  display: grid;
  grid-template-columns: minmax(10rem, 20rem) 3rem;
  gap: 1rem;
  place-items: center;
  justify-content: center;
}

.star-ratings span svg {
  font-size: 2rem;
  cursor: pointer;
}

.star-ratings span.filled svg {
  fill: rgb(255, 242, 0);
  stroke: rgb(255, 242, 0);
  stroke-width: 1px;
}

.current-rating {
  font-size: 1.5rem;
  background-color: transparent;
  font-weight: 300;
}
